<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842076816830-rd8ggve267f1qg1qp5e1ho6l42cscvps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842076816830-rd8ggve267f1qg1qp5e1ho6l42cscvps</string>
	<key>API_KEY</key>
	<string>AIzaSyCxPmFs_0eXZ8VIBqRChL9SiU2UJ79RGis</string>
	<key>GCM_SENDER_ID</key>
	<string>842076816830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ncti</string>
	<key>PROJECT_ID</key>
	<string>poltinnikov51-90e29</string>
	<key>STORAGE_BUCKET</key>
	<string>poltinnikov51-90e29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842076816830:ios:0216504800ea787a4865ef</string>
</dict>
</plist>